:root {
    --atom-size: 100px;
    --atom-color-hex: rgba(0, 0, 0,1.0);
    --atom-color-rgb: none;
    --nucleus-size: calc(var(--atom-size) / 5);
    --electron-color-hex: rgba(255,255,192,0.15);
    --electron-size : calc(var(--atom-size) / 25);
    --electron-orbit-size : calc(var(--atom-size) * 3);
    --electron-speed : 0.0001s;
    --electron-speed-alpha : 0.0001s;
    --electron-speed-omega : 0.0001s;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

body
{
	/* background-image:url("/google_map_zrzut_polska.png");*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

header
{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:999;
	text-align:center;
}


body {
    display: inline-block;
    place-items: center;
    box-sizing: border-box;
}
*, *:before, *::after { box-sizing: border-box; }


/* Atom */
.atom {
    margin-top:100%;
	margin-bottom:100%;
	position: relative;
    width: var(--atom-size);
    height: var(--atom-size);
    animation: 8s atom infinite cubic-bezier(1, .25, 0, .75);
	border-radius:50%;
	box-shadow:0 0 50px rgba(255,255,255,0.1)inset,0 0 150px rgba(255,255,255,0.37);
}
@keyframes atom {
    0% {    transform: rotate(0deg) scale(1); }
    12.5% { transform: rotate(-45deg) scale(.9); }
    25% {   transform: rotate(-90deg) scale(1); }
    37.5% { transform: rotate(-135deg) scale(.9); }
    50% {   transform: rotate(-180deg) scale(1); }
    62.5% { transform: rotate(-225deg) scale(.9); }
    75% {   transform: rotate(-270deg) scale(1); }
    87.5% { transform: rotate(-315deg) scale(.9); }
    100% {  transform: rotate(-360deg) scale(1); }
}

/* Nucleus */
.atom::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--nucleus-size);
    height: var(--nucleus-size);
    margin-top: calc(var(--nucleus-size) / -2);
    margin-left: calc(var(--nucleus-size) / -2);
    background: var(--atom-color-hex); /* var(--atom-color-hex); */
    border-radius: 100%;
    box-shadow: 0 0 3px 0 var(--atom-color-hex);
    animation: 2s nucleus infinite cubic-bezier(.65, 0, .35, 1);
}
@keyframes nucleus {
    0% { transform: scale(1.2); }
    25% { transform: scale(.7); }
    50% { transform: scale(1); }
    75% { transform: scale(.6); }
    100% { transform: scale(1.1); }
}

/* Electron Orbit */
.atom > [class^="electron"] {
    border-top: solid rgba(var(--atom-color-rgb), .5) 1px;
    border-right: solid rgba(var(--atom-color-rgb), .35) 2px;
    border-bottom: solid rgba(var(--atom-color-rgb), .2) 4px;
    border-left: solid rgba(var(--atom-color-rgb), 0) 2px;
    border-radius: 100%;
    width: 100%;
    height: var(--electron-orbit-size);
    position: absolute;
    top: 50%;
    margin-top: calc(var(--electron-orbit-size) / -2);
    animation: var(--electron-speed) electron-orbit infinite linear;
}
.atom > .electron-alpha {
    transform: rotate(60deg);
    animation: var(--electron-speed-alpha) electron-orbit infinite linear;
}
.atom > .electron-omega {
    transform: rotate(-60deg);
    animation: var(--electron-speed-omega) electron-orbit infinite linear;
}
@keyframes electron-orbit {
    0% {
        border-top: solid rgba(var(--atom-color-rgb), .5) 1px;
        border-right: solid rgba(var(--atom-color-rgb), .35) 2px;
        border-bottom: solid rgba(var(--atom-color-rgb), .2) 4px;
        border-left: solid rgba(var(--atom-color-rgb), 0) 2px;
    }
    25% {
        border-top: solid rgba(var(--atom-color-rgb), .35) 1px;
        border-right: solid rgba(var(--atom-color-rgb), .2) 2px;
        border-bottom: solid rgba(var(--atom-color-rgb), 0) 4px;
        border-left: solid rgba(var(--atom-color-rgb), .5) 2px;
    }
    50% {
        border-top: solid rgba(var(--atom-color-rgb), .2) 1px;
        border-right: solid rgba(var(--atom-color-rgb), 0) 2px;
        border-bottom: solid rgba(var(--atom-color-rgb), .5) 4px;
        border-left: solid rgba(var(--atom-color-rgb), .35) 2px;
    }
    75% {
        border-top: solid rgba(var(--atom-color-rgb), 0) 1px;
        border-right: solid rgba(var(--atom-color-rgb), .5) 2px;
        border-bottom: solid rgba(var(--atom-color-rgb), .35) 4px;
        border-left: solid rgba(var(--atom-color-rgb), .2) 2px;
    }
    100% {
        border-top: solid rgba(var(--atom-color-rgb), .5) 1px;
        border-right: solid rgba(var(--atom-color-rgb), .35) 2px;
        border-bottom: solid rgba(var(--atom-color-rgb), .2) 4px;
        border-left: solid rgba(var(--atom-color-rgb), 0) 2px;
    }
}

/* Electron Unit */
.atom [class^="electron"]::after {
    content: '';
    display: block;
    width: var(--electron-size);
    height: var(--electron-size);
    background: var(--electron-color-hex);
    border-radius: 50%;
    margin-top: calc(var(--electron-size) / -2);
    position: absolute;
    top: 50%;
    left: calc(var(--electron-size) / -1);
    transform: scale(1);
    animation: calc(var(--electron-speed) * 2) electron infinite ease-in-out;
}
.atom .electron-alpha::after { animation: calc(var(--electron-speed-alpha) * 2) electron infinite ease-in-out; }
.atom .electron-omega::after { animation: calc(var(--electron-speed-omega) * 2) electron infinite ease-in-out; }
@keyframes electron {
    0% {
        left: calc(var(--electron-size) / -1);
        transform: scale(1);
    }
    12.5% {
        top: 100%;
        transform: scale(1.2);
    }
    25% {
        left: 100%;
        transform: scale(1);
    }
    37.5% {
        top: 0%;
        transform: scale(.25);
    }
    50% {
        left: calc(var(--electron-size) / -1);
        transform: scale(1);
    }
    62.5% {
        top: 100%;
        transform: scale(1.2);
    }
    75% {
        left: 100%;
        transform: scale(1);
    }
    87.5% {
        top: 0%;
        transform: scale(.25);
    }
    100% {
        left: calc(var(--electron-size) / -1);
        transform: scale(1);
    }
}

/* Shadow */
main { position: relative; display:inline-block; vertrical-align:top;}
main::after {
    content: '';
    display: block;
    position: absolute;
    top: 115%;
    left: 0;
    width: var(--atom-size);
    height: var(--nucleus-size);
    background-image: radial-gradient(closest-side, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    border-radius: 100%;
    transform: scale(1, .8);
    animation: 8s shadow infinite cubic-bezier(1, .25, 0, .75);
}
@keyframes shadow {
    0% {    transform: scale(1, .8) translateY(0); }
    12.5% { transform: scale(.7, .7) translateY(-20px); }
    25% {   transform: scale(1, .8) translateY(0); }
    37.5% { transform: scale(.7, .7) translateY(-20px); }
    50% {   transform: scale(1, .8) translateY(0); }
    62.5% { transform: scale(.7, .7) translateY(-20px); }
    75% {   transform: scale(1, .8) translateY(0); }
    87.5% { transform: scale(.7, .7) translateY(-20px); }
    100% {  transform: scale(1, .8) translateY(0); }
}

/* Credits */
footer {
    width: 100%;
    height: 4rem;
    display: grid;
    place-items: center;
	color: rgba(255, 255, 255,0.1);
}
a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: lighter;
    text-decoration: none;
    color: rgba(0, 0, 0, 1.0);
    transition: all .35s ease-in-out;
	text-shadow:0 0 3px rgb(255,255,255),0 0 6px rgb(255,255,255),0 0 7px rgb(255,255,255);
}
a:hover {
    color: rgba(255, 255, 255, 1);
}
.icon
{
	background-image:url("/favicon.ico");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70px;
	width:70px;
	height:70px;
	border-radius:50%;
	margin-top:65px;
	margin-left:35px;
	margin-right:20px;
	box-shadow:0 0 6px rgba(255,255,255,1.0);
	border:1px solid rgba(255,255,255,0.1);
	display:inline-block;
	float:left;
}
.menu
{	
	margin-top:75px;
	display:inline-block;
	font-size:66px;	
	margin-left:20px;
	margin-right:20px;
	float:left;
}
.icon div
{
	margin-top:25px;
	font-size:10px;
	text-align:center;
}
iframe
{
	width:50%; 
	vertical-align:top;
	background:none!important;
}
.p
{
	color:rgba(255,255,255,0.6);
}
hr
{
	opacity:0.1;
}
.search
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	display:inline-block;
	right:7px;
	top:27px;
	font-size:26px;
	color:rgba(255,255,255,0.6);
	position:absolute;
	z-index:999;
	opacity:0.5;
}
.search form input[type="text"]
{
	font-size:22px;
	width:250px;
}
.search form input[type="submit"]
{
	margin-left:-7px;
	font-size:22px;
	cursor:pointer;
}